  <div class= "container" >
    <div class="container m-3">
      <h1><strong>Notre sélection unique de Dragons</strong></h1>
      <h3>Louer son dragon sans se prendre la tête.</h3>
      <div class="wrapper">
        <% @dragons.each do |dragon| %>
            <div class="card-multi m-2" style ="object-fit-content"><%= link_to dragon do %>
              <%= cl_image_tag dragon.photo.key, height: 250, crop: :fill, class:"card-img"  %>
              <div class="card-index-body m-1">
                <h3 class="card-index-title"><%= dragon.name %></h3>
                <div>
                  <% if dragon.nature == "Air" %>
                    <%= image_tag("vent.png", size: "40x40", :style => 'background-color: #e9ecef; border: 2px solid black; border-radius: 50%; padding: 5px;') %>
                  <% elsif dragon.nature == "Feu" %>
                    <%= image_tag("feu.png", size: "40x40", :style => 'background-color: #e9ecef; border: 2px solid black; border-radius: 50%; padding: 5px;') %>
                  <% elsif dragon.nature == "Eau" %>
                    <%= image_tag("eau.png", size: "40x40", :style => 'background-color: #e9ecef; border: 2px solid black; border-radius: 50%; padding: 5px;') %>
                  <% else dragon.nature == "Terre" %>
                    <%= image_tag("terre.png", size: "40x40", :style => 'background-color: #e9ecef; border: 2px solid black; border-radius: 50%; padding: 5px;') %>
                  <% end %>
                </div>
                <h3 class="card-text text-end"> <strong>€ <%= dragon.price_per_day %></strong></h3>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>
