<body class="bg-light">

    <!-- dragon picture + checkout -->
    <div class="bg-grey">
      <div class="container p-2 mt-3 mb-3">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <%= cl_image_tag @dragon.photo.key, height: 460, crop: :fill  %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title font-weight-bold"><%= @dragon.price_per_day %> € / jour</h5>
                <hr class="my-4" />
                <div class="me"><%= simple_form_for([@dragon, @booking]) do |f| %>
                <%= f.input :start_date, as: :date, html5: true, label: "Début" %>
                <%= f.input :end_date, as: :date, html5: true, label: "Fin" %>
                  <% if user_signed_in? %>

                    <!-- Bouton Réserver avec Popup-->
                    <button type="button" class="btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Réserver
                    </button>
                    <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Votre demande a été prise en compte 🐉</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Le propriétaire va vous répondre rapidement 🕋 <br>
                              <br>
                              Merci d'utiliser nos services
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- /Modal -->
                  <% else %>
                  <%= link_to("Connexion", new_user_registration_path, {class: "btn btn-warning"}) %>
                <% end %>
                <% end %>
                <hr class="my-4" />
                <h5 class="card-text text-center">
                <%= @dragon.price_per_day %> x 1 jours </h5>
                <hr class="my-4" />
                <h5 class="card-text text-center">
                Total : <%= @dragon.price_per_day %> € </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /dragon picture + checkout -->

    <!-- dragon description-->
    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
        <h1 class= "mt-3 ms-3"><%= @dragon.name%></h1>
        <div class="row ms-1">
            <div class="col-1">
                <% if @dragon.nature == "Air" %>
                    <%= image_tag("vent.png", size: "40x40", :style => 'background-color: #e9ecef; border: 2px solid black; border-radius: 50%; padding: 5px;') %>
                <% elsif @dragon.nature == "Feu" %>
                    <%= image_tag("feu.png", size: "40x40", :style => 'background-color: #e9ecef; border: 2px solid black; border-radius: 50%; padding: 5px;') %>
                <% elsif @dragon.nature == "Eau" %>
                    <%= image_tag("eau.png", size: "40x40", :style => 'background-color: #e9ecef; border: 2px solid black; border-radius: 50%; padding: 5px;') %>
                <% else @dragon.nature == "Terre" %>
                    <%= image_tag("terre.png", size: "40x40", :style => 'background-color: #e9ecef; border: 2px solid black; border-radius: 50%; padding: 5px;') %>
                <% end %>
            </div>
            <div class="col-2">
                <p><%= image_tag("user.png", size: "40x40", :style => 'background-color: #e9ecef; border: 2px solid black; border-radius: 50%; padding: 5px.') %>
                <em><%= @dragon.owner.name %></em></p>
            </div>
              <div class="row mb-3">
                  <p><%= @dragon.description %></p>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    <!--/ dragon description-->
    </div>
</div>




<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



</body>
