<div class="container dragon py-5 d-flex justify-content-center" >

  <div class="card" style="width: 900px;">

    <div class="card-body">
      <%= cl_image_tag @dragon.photo.key, height: 300, width: 400, class: "shadow-lg", crop: :fill %>
      <h1><%= @dragon.name%></h1>
      <p> <%= @dragon.nature  %></p>
      <p> <%= @dragon.description %></p>
      <p> Contact <%= @dragon.owner.name %></p>
      <p class="card-text fa-solid fa-dollar-sign"> <%= @dragon.price_per_day %> </p>
      <p><%= link_to("Book a Dragon", new_user_registration_path, {class: "btn btn-warning"}) %></p>
      <p><%= link_to("See All Dragons", dragons_path, {class: "btn btn-warning"}) %></p>
    </div>

  </div>
</div>
