<div class = "align-content d-flex flex-wrap" style= "margin-right: 120px; justify-content: center">
  <br>
  <div class=" p-2" style="width: 200px;">
     <div style="
     margin-left: 50%; width: 100%;">
     <%= link_to("Book a Dragon", dragons_path, {class: " btn btn-success text-decoration-none"}) %>
     </div>
  </div>
  <div class = " p-2" style="width: 200px;">
    <button type="button" class="btn btn-warning" style="
     margin-left: 50%; width: 100%;">Créer un dragon</button>
  </div>
</div>

<br>
<br>
<h1>Mon Profil</h1>
<br>
<h3>Mes dragons</h3>
<div class= "container" >
  <div class="container m-3">
    <div class="wrapper" style = " justify-content: space-evenly;">
      <% @dragons.each do |dragon| %>
          <div class="card m-2" style ="object-fit-content"><%= link_to dragon_path(dragon) , class: "card" do %>
            <%= cl_image_tag dragon.photo.key, height: 250, crop: :fill  %>
            <div class="card-body m-1">
              <h3 class="card-title"><%= dragon.name %></h3>
              <p class="card-text"> <%= dragon.nature %></p>
              <h3 class="card-text text-end"> <strong>€ <%= dragon.price_per_day %></strong></h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<h2> Mes réservations actuelles</h2>
<br>
<br>


<div class= "container" >
  <div class="container m-3">
    <div class="wrapper">
      <% @bookings.each do |booking| %>
          <div class="card m-2" style ="object-fit-content"><%= link_to dragon_path(Dragon.find(booking.dragon_id)) , class: "card" do %>
            <%= cl_image_tag booking.dragon.photo.key, height: 250, crop: :fill  %>
            <div class="card-body m-1">
              <h3 class="card-title"><%= Dragon.find(booking.dragon_id).name %></h3>
              <p class="card-text"> <%= Dragon.find(booking.dragon_id).nature %></p>
              <h3 class="card-text text-end"> <strong>€ <%= Dragon.find(booking.dragon_id).price_per_day %></strong></h3>
              <small class="card-text text-start"> <strong> date de début : <%= booking.start_date %></strong></small> <br>
              <small class="card-text text-start"> <strong> date de fin :<%= booking.end_date %></strong></small>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>

<h2> Mes dragons en cours de réservation</h2>
<br>
<br>

<div class= "container" >
  <div class="container m-3">
    <div class="wrapper" style = " justify-content: space-evenly;">
      <% @bookings.each do |booking| %>
          <% if dragon.%>
          <div class="card m-2" style ="object-fit-content"><%= link_to dragon_path(dragon) , class: "card" do %>
            <%= cl_image_tag dragon.photo.key, height: 250, crop: :fill  %>
            <div class="card-body m-1">
              <h3 class="card-title"><%= dragon.name %></h3>
              <p class="card-text"> <%= dragon.nature %></p>
              <h3 class="card-text text-end"> <strong>€ <%= dragon.price_per_day %></strong></h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
